@model WebsiteBanHang.Context.Brand

@{
    ViewBag.Title = "Delete";
}
<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 style="text-align:center">Xóa Thương Hiệu</h2>

                            <h3>Bạn có muốn xóa?</h3>
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        Tên
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>

                                    <dt>
                                        Hình
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Avatar)
                                    </dd>



                                    <dt>
                                        Hiện trên trang chủ
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ShowOnHomePage)
                                    </dd>



                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Xóa" class="btn btn-default" /> |
                                        @Html.ActionLink("Quay lại", "Index")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>