
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanHang.Context.Brand>
@{
    ViewBag.Title = "Index";
}
<style>

    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #ff0000;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ff0000;
            }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 style="text-align:center"> Quản Lí Thương Hiệu</h2>
                            @using (Html.BeginForm("Index", "Brand", FormMethod.Get))
                            {
                                <p>
                                    Tìm tên sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    <input type="submit" value="Tìm Kiếm" />


                                </p>
                            }
                            <button style="width: 150px; height: 40px; border-radius:10px"><a href="https://localhost:44381/Admin/Brand/Create">Thêm Thương Hiệu</a></button>
                            <button style="width: 150px; height: 40px; border-radius:10px; margin-left:78%;"><a href="https://localhost:44381/Admin/Brand/Trash">Thùng Rác</a></button>
                            <table class="table">
                                <tr>
                                    <th>
                                        Tên
                                    </th>
                                    <th>
                                        Hình
                                    </th>

                                    @*<th>
                                            Hiện trên wed
                                        </th>*@

                                    <th>
                                        Ngày giờ thêm
                                    </th>
                                    <th>
                                        Chức năng
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <img style="width:110px;height:30%;" src="~/Content/images/items/@Html.DisplayFor(modelItem => item.Avatar)" alt="Alternate Text" />
                                        </td>

                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                                            </td>*@

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Thùng rác", "DelTrash", new { id = item.Id }, new { onclick = "return confirm('Bạn có muốn thêm vào thùng rác?');" }))
                                        </td>
                                    </tr>
                                }

                            </table>
                            Trang @(Model.PageCount<Model.PageNumber ? 0: Model.PageNumber) của  @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currenFilter = ViewBag.currenFilter }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>